.container{
    margin-top: 50px;
    margin-left: 30px;
    border-radius: 20px;
    width: 200px;
    text-align: center;
    border:2px solid;
    align-items: center;
    box-shadow: 3px 3px 5px gray;
    display: inline-block;
}
img{
    width: 200px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}
.aa{
    background-color: rgb(21,180,243);
    width: 200px;
    border: 1px solid rgb(21,180,243);
    padding: 10px;
    color: white;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
}
.bb{
    color: white;
    background-color: rgb(102, 78, 222);
    width: 200px;
    border: 1px solid rgb(102,78,222);
    padding: 10px;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
}
.cc{
    color: white;
    background-color: #000000;
    width: 200px;
    border: 1px solid #000000;
    padding: 10px;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
}
.dd{
    color: white;
    background-color:yellow;
    width: 200px;
    border: 1px solid yellow;
    padding: 10px;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
}